@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
	--breakpoint-3xl: 1600px;
	--breakpoint-4xl: 1920px;
	--breakpoint-5xl: 2240px;
	--breakpoint-6xl: 2560px;
	--breakpoint-7xl: 2880px;
	--breakpoint-8xl: 3200px;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}
